.button {
  border: 3px solid #FFFFFF;
  border-radius: 29px;
  padding: 15px 40px;
  display: block;
  color: #fff;
  text-decoration: none;
  @include font(700);
  font-size: 1.8rem;
  @media (min-width: $tablet) {
    padding: 15px 50px;
  }
  @media (min-width: $desktop) {
    font-size: 2.1rem;
    width: 240px;
  }
}