.button {
  border: 3px solid #FFFFFF;
  border-radius: 29px;
  padding: 15px 40px;
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  max-width: 320px;
  @include font(700);
  font-size: 1.8rem;
  @media (min-width: $tablet) {
    padding: 15px 50px;
  }
  @media (min-width: $desktop) {
    font-size: 2.1rem;
    padding: 20px 31px;
    width: 320px;
    border-radius: 45px;
  }
  &:hover {
    color: $pink;
    background-color: #fff;
  }
  &:active {
    color: rgba($pink, .3);
  }
}