.intro {
  display: flex;
  flex-direction: column;
  padding-top: 27px;
  align-items: center;
  @media (min-width: $tablet) {
    padding-top: 102px;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    align-items: flex-start;
    position: relative;
    padding-bottom: 65px;
  }
  @media (min-width: $desktop) {
    max-width: 1280px;
    width: 100%;
    padding-top: 110px;
    padding-bottom: 130px;
  }
}

.intro__header {
  padding-bottom: 34px;
  width: 280px;
  margin: 0 auto;
  @media (min-width: $tablet) {
    width: 190px;
    margin: 0;
    margin-bottom: 39px;
    z-index: 2;
    padding: 0;
    margin-left: 80px;
  }
  @media (min-width: $desktop) {
    width: 240px;
    margin-left: 60px;
  }
}

.intro__demo {
  width: 320px;
  height: 285px;
  @media (min-width: $tablet) {
    width: 660px;
    height: 545px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  @media (min-width: $desktop) {
    height: 645px;
    width: 1050px;
  }
}

.intro__phone {
  width: 100%;
  height: 285px;
  background-image: url(../img/phone-mobile.png);
  background-repeat: no-repeat;
  background-position: center top;
  @media (min-width: $tablet) {
    height: 545px;
    background-image: url(../img/phone-tablet.png);
  }
  @media (min-width: $desktop) {
    height: 645px;
    background-image: url(../img/phone-desktop.png);
  }
}

.intro__main {
  order: 1;
  width: 100%;
  background-color: $darkBlue;
  padding-top: 28px;
  padding-bottom: 38px;
  @media (min-width: $tablet) {
    width: 325px;
    padding: 0;
    background-color: transparent;
    z-index: 1;
    margin-left: 9px;
  }
  @media (min-width: $desktop) {
    margin-left: 20px;
  }
}

.intro__main-wrapper {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__markets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__markets-logo {
  width: 204px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 31px;
  @media (min-width: $tablet) {
    padding-top: 51px;
    padding-bottom: 42px;
  }
}

.intro__market-link {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  &--apple {
    width: 47px;
    height: 56px;
    background-image: url(../img/apple-logo.svg);
  }
  &--android {
    width: 43px;
    height: 47px;
    background-image: url(../img/android-logo.svg);
  }
  &--microsoft {
    width: 44px;
    height: 41px;
    background-image: url(../img/microsoft-logo.svg);
  }
}


.intro__markets-desc {
  font-size: 1.4rem;
  line-height: 2.4rem;
  width: 280px;
  text-align: center;
  margin: 0;
}