.main-nav{
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  max-height: 0;
  z-index: 10;
  @media (min-width: $desktop) {
    max-height: 100%;
    position: inherit;
    width: 620px;
  }
  /*&--hidden {
    max-height: 0;
  }
  &--shown {
    max-height: 500px;
  }*/
}

.animation-in {
  animation-name: animave-nav-in;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.animation-out {
  animation-name: animave-nav-out;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes animave-nav-in {
  from {
    max-height: 66px;
  }
  to {
    max-height: 600px;
  }
}

@keyframes animave-nav-out {
  from {
    max-height: 600px;
    opacity: 100%;
  }
  to {
    max-height: 0p;
    opacity: 0;
  }
}