.popup {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  padding: 44px 22px 52px;
  @media (min-width: $tablet) {
    width: 460px;
    padding: 54px 82px 49px;
  }
  @media (min-width: $desktop) {
    width: 780px;
    padding: 49px 225px 52px;
  }
}

.popup__btn {
  font-size: 1.8rem;
  @include font(700);
  color: #fff;
  background-color: #2AAB6D;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 23px 0;
  text-transform: uppercase;
  &:hover {
    background-color: #1C9B5E;
  }
  &:active {
    background-color: #1C9B5E;
    color: rgba(#fff, .3);
  }
  @media (min-width: $tablet) {
    width: 100%;
    padding: 23px 55px;
    margin-left: 2px;
  }
}

.popup__header {
  font-size: 1.8rem;
  @include font(700);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 37px;
  @media (min-width: $tablet) {
    font-size: 3rem;
    line-height: 4rem;
    width: 85%;
  }
  @media (min-width: $desktop) {
    width: 100%;
  }
}

.popup__message {
  margin: 0;
  font-size: 1.4rem;
  @include font(400);
  line-height: 2.4rem;
  text-align: center;
  margin-bottom: 50px;
  @media (min-width: $tablet) {
    font-size: 1.8rem;
  }
  @media (min-width: $tablet) {
    margin-bottom: 120px;
  }
}