.slogan {
  display: block;
  @include font(300);
  font-size: 2.4rem;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 4rem;
    line-height: 4.8rem;
  }
  @media (min-width: $desktop) {
    font-size: 5rem;
    line-height: 6.8rem;
  }
}

.slogan--intro {
  color: #fff;
  @media (max-width: $mobile) {
    br {
      display: none;
    }
  }
}

.slogan--info {
  color: $darkBlue;
  padding-bottom: 30px;
  width: 100%;
  margin: 0 auto;
  &:last-child {
    padding-bottom: 0;
  }
  @media (min-width: $tablet) {
    padding-bottom: 0;
    width: 100%;
  }
}

.slogan--line {
  @media (min-width: $tablet) {
    br {
      display: none;
    }
  }
}

.slogan--contacts {
  color: $darkBlue;
  width: 100%;
  margin: 0 auto;
}